$background: #f5efd5;
$special-color: #cc231c;
$color: #071013;
$color_inv: invert(#071013);


@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    // background-color: ;
    background-color: $background;
    // background-color: #000;
    color: $color;


}

* {
    font-family: "Bowlby One SC", sans-serif;
}


.logo{
    padding-top: 1rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;

    .stripes{
        position: absolute;
        width: 100%;
        padding-top: 1.75rem;
        display: flex;
        flex-direction: column;
        z-index: -1;
        height: 6.5vw;
        gap: .4vw;
        

        .stripe{
            width: 100%;
            flex: 1;
            background-color: $special-color;

            &:nth-child(1){ background-color: #689d69; }
            &:nth-child(2){ background-color: #458587; }
            &:nth-child(3){ background-color: #d79922; }
            &:nth-child(4){ background-color: #cc231c; }
        }
    }

    img{
        width: 33%;
    }
}

$leaderboard-bg: #071013;
section{
    width: 100%;
    height: 100vh;
    position: relative;
    &.hero{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5rem;
    }

    &.leaderboards{
        margin-top: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5rem;
        background-color: $leaderboard-bg;
        color: #cc231c;
        &::after{
            content: "";
            position: absolute;
            background-image: url(../../public/assets/wape.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            top: -180px;
            height: 180px;
            z-index: 1;
        }
    }
}

section.hero .container{
    width: 80%;
    height: 100%;


    display: flex;
    flex-direction: row;
    justify-content: center;

    .content{
        height: 66%;
        width: 75%;
        position: relative;

        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        gap: 1rem;

        .buttons{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            >*{
                flex: 0 0 calc(50% - 1rem);
            }

            a, .joinbutton {
                text-decoration: none;
                &.large{
                    flex: 1 1 calc(100% - 1rem);
                }
            }

            
            .joinbutton{
                position: relative;

                &:hover input:not(:focus) ~ label p, &:hover input:placeholder-shown ~ label p{
                    font-size: 3.15rem;
                }

                label {
                    font-size: 2em;
                    position: absolute;
                    height: 100%;
                    // width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $color;
                    fill: $color;
                    padding: 0 1rem;
                    z-index: 3;
                    opacity: 1;
                    //transition tranform
                    transition: top .1s, color .1s;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p{
                        margin: 0;
                        padding: 0;
                        font-size: 3rem;
                        font-weight: 400;
                        text-transform: lowercase;
                        letter-spacing: 1px;
                        transition: font-size .1s;
                    }

                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $background;
                        z-index: -3;
                        transform: scaleX(0);
                        transform-origin: center;
                        transition: transform .08s;
                    }

                    .enter-icon{
                        height: 66%;
                        width: auto;
                        // aspect-ratio: 1/1;
                        right: 0;
                        opacity: 1;
                        z-index: 10;
                        pointer-events: none;
                        margin-right: 1rem;
                        // transition: opacity .1s, transform 0.2s;
                    }
                }
                input {
                    color: $color !important;
                    // padding: 1rem;
                    width: 100%;
                    height: 100%;
                    outline: none;
                    cursor: pointer;
                    text-align: center;
                    margin: 0; padding: 0;
                    font-size: 2.5em;
                    background: none;
                    border: none;
                    text-transform: lowercase;
                    z-index: 4;                
                    &:focus ~ label, &:not(:placeholder-shown) ~ label{
                        top: 0;
                        color: #689d69;
                        fill: #689d69;

                        left: 50%;
                        &:after{
                            transform: scaleX(1);
                        }
                    }

                    // &:focus ~ .enter-icon, &:not(:placeholder-shown) ~ .enter-icon{
                    //     opacity: 1;
                    //     transform: translateX(0%);
                    //     pointer-events: all;
                    // }
                }

                
            }

            @mixin element-color($color) {
                border-image-source: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 2100 2100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M153,799L102,335L135,179L331,90L564,82L795,103L1050,72L1232,185L1452,26L1706,84L1912,176L2004,404L1914,914L2075,1295L1956,1855L1838,2020L1564,2039L1343,1999L1188,1904L1050,2061L892,1999L606,1936L434,1999L262,1951L140,1811L19,1217L153,799ZM540,1153L463,885L627,670L867,608L1078,442L1283,525L1522,524L1564,761L1452,1000L1489,1341L1271,1551L1050,1551L860,1642L642,1595L483,1460L540,1153Z" style="fill:#{$color};"/></svg>');
                &::after {
                    background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 2100 2100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(3.84615,0,0,1,-5976.92,0)"><path d="M1775,2100L2021.98,1838L2100,1178L2100,458.042L1954.82,179L1554,0L2100,0L2100,2100L1775,2100Z" style="fill:#{$color};"/></g></svg>');
                }
                &::before {
                    background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 2100 2100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(2.92479,0,0,1,0,0)"><path d="M559,0L147.69,285.282L0,698.713L0,1476L150.354,1848L718,2100L0,2100L0,0L559,0Z" style="fill:#{$color};"/></g></svg>');
                }
                &.border-long {
                    border-image-source: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 2100 2100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M153,799L102,335L135,179L331,90L564,82L671.538,145.776L795,103L922.339,52.575L1050,72L1125.23,145.645L1232,185L1359.6,132.4L1452,26L1589.73,28.339L1706,84L1912,176L2004,404L1914,914L2075,1295L1956,1855L1838,2020L1564,2039L1454.79,1989.42L1343,1999L1280.98,1894.47L1188,1904L1136.72,2006.82L1050,2061L892,1999L776.756,1914.38L606,1936L434,1999L262,1951L140,1811L19,1217L153,799ZM540,1153L463,885L627,670L736,589.833L867,608L947.106,496.215L1078,442L1172.6,518.707L1283,525L1408.08,489.456L1522,524L1564,761L1452,1000L1489,1341L1369.64,1549.87L1272,1603L1152.85,1501L1050,1551L968.302,1679.52L860,1642L756.603,1515.2L642,1595L483,1460L540,1153Z" style="fill:#{$color};"/></svg>');
                }
            }
            
            .button{
                $button-color: #f5efd5;
                width: 100%;
                height: 100px;
                // border-radius: 10px;
                // border: 10px solid $color;
                
                background-color: transparent;
                color: $color;
                // font-size: 1.5rem;
                text-transform: lowercase;
                cursor: pointer;
                transition: background-color 0.15s, color 0.1s, filter 0.1s;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box ;
                position: relative;
                border: none;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    // background-color: $color;
                    background-repeat: no-repeat;
                    background-position: right;

                }
                border-image-slice: 30;
                border-image-width: .8rem;
                border-image-repeat: stretch;
                border-image-outset: .5rem;
                
                &.one {
                    @include element-color(rgb(104, 156, 105)); transform: rotateZ(random(2) - 2 + deg);
                }
                &.two {
                    @include element-color(rgb(69, 133, 135)); transform: rotateZ(random(2) - 2 + deg);
                }
                &.three { 
                    @include element-color(rgb(215, 153, 34)); transform: rotateZ(random(2) - 2 + deg);
                }

                &.four { @include element-color(rgb(204, 35, 28));  transform: rotateZ(random(2) - 2 + deg);}    

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0; padding: 0;
                    font-size: 3rem;
                }

                img{
                    filter: invert(4%) sepia(37%) saturate(719%) hue-rotate(149deg) brightness(97%) contrast(98%);
                    margin-right: 1rem;
                    height: 66%;
                }
    
                &:hover{
                    // background-color: lighten($color: $button-color, $amount: 0);
                    color: invert($color: $color);
                    img{                     filter: invert(92%) sepia(18%) saturate(322%) hue-rotate(342deg) brightness(104%) contrast(92%);                    }
                    // color: $special-color;
                    &.two { background-color: #458587; }
                    &.three { background-color: #d79922; }
                    &.four { background-color: #cc231c; }  
                }
            }
        }

        &:before{
            content: "";
            width: 6rem;
            height: 100%;
            position: absolute;
            z-index: -1;
            // background-color: $special-color;
        }

        

        .small-buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // max-width: 400px;
            width: 35%;

            gap: .8rem;

            a{
                text-decoration: underline 1px solid;
            }

            hr {
                flex: 1;
                border: none;
                border-top: 1px solid #000;

            }
        }
    }

    .side-buttons{
        position: absolute;
        right: 2rem;
        width: 3rem;
        height: 3rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .logo-big{
        position: absolute;
        height: 80%;
        //place at left using (60vw - 50% of width)
        left: 60vw

        
    }
}

@keyframes errorBounce{
    0%{
        transform: translateX(0);
        color: #cc231c;
    }
    50%{
        transform: translateX(1rem);
        color: #cc231c;
    }
    100%{
        transform: translateX(0);
        color: $color;
    }
}


section.leaderboards .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 61vh;
    border: 5px solid $color_inv;
    border-radius: 10px;
    padding: 1rem 2rem;
    position: relative;

    * { color: $color_inv }

    legend {
        margin: 0 auto;
        padding: 0 1rem;
        font-size: 2rem;
    }

    .sorttabs-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding-right: 2rem;
        box-sizing: border-box;
        * { font-family: "Quicksand", sans-serif; }

        .sorttabs{
            display: flex;
            flex-direction: row;
            font-size: 0.8rem;
            flex: 1;
            margin-bottom: 1rem;

            &.large {
                flex: 2;
                font-size: 1.5rem;
            }
            

            &:not(.large) {
                justify-content: center;
                cursor: pointer;
                .sorttab {
                    flex: 1;
                    text-align: center;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .5ch;
                    color: transparentize($color: $color_inv, $amount: 0.5);
                    svg{
                        width: 1rem;
                        height: auto;
                        // margin-bottom: .5rem;
                        fill: transparentize($color: $color_inv, $amount: 0.5);
                    }
                    &.active{
                        svg{
                            fill: $color_inv;
                        }
                        h2 { color: $color_inv; }
                    }
                }

            }
        }

        h1, h2{
            margin: 0;
            padding: 0;
            font-size: inherit;
            color: inherit;
        }
    }

    
    .leaderboard { //ul
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        // gap: 1rem;

        * { font-family: "Quicksand", sans-serif; }

        //remove scroll bar
        &::-webkit-scrollbar {
            display: none;
        } 
        //firefox
        scrollbar-width: none;

        .add-friends{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // gap: 1rem;
            margin: 1rem 0;
            font-size: 1.5rem;
            font-weight: 600;
            color: $color_inv;
            cursor: pointer;
            transition: filter 0.1s;
            &:hover{
                filter: brightness(1.2);
            }
        }

        li {
            box-sizing: border-box;
            width: 100%;
            height: 5rem;
            // outline: 3px solid $color_inv;
            // outline-offset: -3px;
            // border-radius: 1.5rem;
            // color: $color;
            // background-color: $color_inv;

            &:nth-child(odd){
                &:not(:first-child) {
                    border-top: 1px solid transparentize($color: $color_inv, $amount: 0.8);
                }
                &:not(:last-child) {
                    border-bottom: 1px solid transparentize($color: $color_inv, $amount: 0.8);
                }
            }

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
            position: relative;
            

            //first three children
            &.top3{
                // outline-color: #d79922;
                height: 8rem;

                .pfp{
                    border: 3px solid #d79922 !important;
                }
            }

            .divider{
                flex: 1;
                height: 100%;
                &.large{
                    flex: 2;
                    max-width: 66%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    // justify-content: center;
                    gap: 1rem;
                    .rank{
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
                    
                    .profile{
                        height: 50%;
                        border-radius: 50%;
                        box-sizing: border-box;
                        position: relative;
                        .pfp{
                            border: 3px solid white;
                            height: 100%;
                            box-sizing: border-box;

                            width: auto;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        .crown{
                            position: absolute;
                            height: 100%;
                            left: 65%;
                            top: -5%;
                            transform: translateX(-50%) translateY(-50%) rotateZ(14deg) scale(1.2);
                            user-select: none;
                        }
                    }
                }  

                &:not(.large) {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    >* {
                        flex: 1;
                        text-align: center;
                    }
                }
            }

            .points{
                height: 1.5rem;
                //center text vertically and horizontally
                display: flex;
                justify-content: center;
                align-items: center;                

                p{
                    min-width: 2rem;
                    padding: 0 .5rem;
                    background-color: hsl(155, 66%, 29%);
                    display: flex;
                    justify-content: center;
                    align-items: center;                
                    border-radius: 5px;
                }
            }
        }
    }
}


.chevron{
    position: absolute;
    bottom: 1rem;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    width: 4rem;
    height: 4rem;
    transition: transform 0.2s;
    animation: 0.5s ease-in-out both chevron-bounce-in;
    &:hover{
        animation: 0.5s ease-in-out both chevron-bounce-out;
    }
    cursor: pointer;
}

@keyframes chevron-bounce-in {
    from{
        transform: translateX(-50%) translateY(-.5rem) scale3d(1.1,1.1,1.1);
    }
    to{
        transform: translateX(-50%) translateY(0);
    }
}
@keyframes chevron-bounce-out {
    from{
        transform: translateX(-50%) translateY(0);
    }
    to{
        transform: translateX(-50%) translateY(-.5rem) scale3d(1.1,1.1,1.1);
    }
}




//navbar.jsx

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;

    //make background blurry and transparent white
    background-color: hsla(195, 29%, 11%, 0.76);
    // background-color: hsla(0, 0%, 30%, 0.20);
    backdrop-filter: blur(50px);

    border-bottom: hsl(195, 29%, 15%) 1px solid;
    z-index: 10;
    left: 0;
    box-sizing: border-box;
    padding: 0 2rem;
    gap: 2rem;

    * {
        // font-family: 'Archivo Black', sans-serif;
        color: $color_inv;
    }
    //transition down when --srolled

    top: -80px;
    transition: top 0.5s ease-out;

    &--scrolled{
        top: 0;
        visibility: visible;
    }

    &__logo{
        flex: 1;
        width: 100px;
        height: 60%;
        margin: 0 1rem;
        display: flex;
        //alight to left
        justify-content: flex-start;
        img{
            width: 100px;
            height: 100%;
            object-fit: contain;
        }
    }

    &__links{ //this is an ul
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        gap: 2rem;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            a{
                padding: 0 1rem;
                
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: 500;
                transition: color 0.1s;
                &:hover{
                    color: #cc231c;
                }
                cursor:pointer;

                &.active{
                    border-bottom: 2px solid $color_inv;
                }
            }
        }
        
    }

    &__user{
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        p{
            //this is the user's name
            font-size: 1rem;
            font-weight: 500;
            
        }
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 500;
            transition: color 0.1s;
            &:hover{
                color: #cc231c;
            }

            img{
                width: 45px;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}