@import "universal.scss";


main.joinRoom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem 4rem;
    box-sizing: border-box;
    gap: 3rem;
}

.pipe-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.player-pipe {
    position: absolute;
    // transition: left 0.2s ease-in-out;

    width: 14rem;

    z-index: 10;
    transform: translateY(-100%);
}

.player-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // height: 100%;
    // background-color: red;
    flex: 2;

    // border: 5px solid black;
    // border-radius: 1rem;
    // background: hsl(39, 16%, 45%);
    box-sizing: border-box;
    position: relative;

    .background{
        width: 100%;
        height: 100%;

        
        z-index: -1;
        img{
            width: 100%;
            // object-fit: cover;
        }
    }


    .logo-container{
        width: 100%;
        height: 22%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-9%);
        .logo{
            position: absolute;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .players{
        position: absolute;
        // background: green;
        width: 100%;
        height: 100%;

        .player-wrapper {
            position: absolute;
            p {
                color: rgba(0, 0, 0, 0.377);
                transform: translateY(-1.5rem);
            }
        }
        
        .player{
            // width: 10%;
            height: 20%;
            aspect-ratio: 1;
            // border-radius: 50%;
            // left: calc(100% - 5rem); //size, thing size, padding
            // top: calc(2% * 5rem); //size, thing size, padding
            // background: hsl(39, 16%, 45%);

            transform-origin: top;
            display: flex;
            justify-content: center;
            align-items: center;

            // img{
            //     // position: absolute;
            //     // width: 90%;
            //     // height: 90%;
            // }
            animation: dingle 2s normal forwards ease-in-out;
            .mask{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                z-index: -1;
                display: flex;
                justify-content: center;
                align-items: center;
                // mask-image: url(../../public/assets/frames/circle_mask.svg);
                mask-size: cover;
                mask-repeat: no-repeat;
                background-image: url(../../public/assets/profiles/knight.svg);
                // background: #ffffff;
                
                &.circle{
                    mask-image: url(../../public/assets/frames/frame-masks/circle.svg);
                }
                &.rectangle-vertical{
                    mask-image: url(../../public/assets/frames/frame-masks/rectangle-vertical.svg);
                }
                &.square{
                    mask-image: url(../../public/assets/frames/frame-masks/square.svg);
                }
                &.triangle{
                    mask-image: url(../../public/assets/frames/frame-masks/triangle.svg);
                }  

                img{
                    width: 70%;
                    height: auto;
                }
        
                // &:after{
                //     content: "";
                //     position: absolute;
                //     width: 100%;
                //     height: 100%;
                //     top: 0;
                //     left: 0;
                //     z-index: 1;
                    

                // }
            }
        }
    }
}

$dingle-amount: 20deg;
@keyframes dingle {

    0% {
        transform: rotate($dingle-amount);
    }
    15% {
        transform: rotate(-$dingle-amount);
    }
    28% {
        transform: rotate($dingle-amount - $dingle-amount / 1.5);
    }
    41% {
        transform: rotate(-$dingle-amount + $dingle-amount /  1.35);
    }
    54% {
        transform: rotate($dingle-amount - $dingle-amount / 1.22);
    }
    67% {
        transform: rotate(-$dingle-amount + $dingle-amount / 1.11);
    }
    82% {
        transform: rotate($dingle-amount - $dingle-amount / 1.05);
    }
    95% {
        transform: rotate(-$dingle-amount + $dingle-amount / 1.02);
    }
    100% {
        transform: rotate(0);
    }
}

.room-container{
    
    box-sizing: border-box;
    flex: 1;
    height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #cec5b6;
    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;

        border-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 2100 2100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1.0214,0,0,1.02289,-25.535,-18.4121)"><path d="M25,2071L68,18L2057,47L2081,2033L25,2071ZM202,77L194,1976L1899,1976L1882,110L202,77Z" style="fill:hsl(39, 16%, 30%);"/></g></svg>');
        border-image-slice: 30 80;
        border-image-width: 2rem;
        border-image-repeat: stretch;
        border-image-outset: 1rem 1.3rem;
    }

    .tabs{
        flex: 10% 0;
        display: flex;
        flex-direction: row;
        // box-sizing: border-box;
        border-bottom: 1rem solid hsl(39, 16%, 30%);

        

        .tab{
            cursor: pointer;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            // transition: all .05s ease-in-out;

            &:nth-child(even) {
                border-left: 1rem solid hsl(39, 16%, 30%);
            }

            &:hover{
                background-color: #d1cabf;
            }

            &.active {
                background-color: lighten($color: hsl(38, 16%, 30%), $amount: 0);
                color: hsl(37, 44%, 93%);
            }
        }
    }

    .room-content{
        flex: 1;
    }
}